/* Fonts */
@font-face {
  src: url('src/assets/fonts/Inter/Inter-Regular.otf');
  font-family: 'Inter-Regular';
}
@font-face {
  src: url('src/assets/fonts/Inter/Inter-Medium.otf');
  font-family: 'Inter-Medium';
}
@font-face {
  src: url('src/assets/fonts/Inter/Inter-SemiBold.otf');
  font-family: 'Inter-SemiBold';
}
@font-face {
  src: url('src/assets/fonts/Inter/Inter-Bold.otf');
  font-family: 'Inter-Bold';
}
