*.tsbuildinfo

node_modules
packages/*/node_modules
apps/*/node_modules
npm-debug.log
yarn-error.log

packages/*/build
apps/*/build

apps/menu-bar/cli/expo-orbit-cli
apps/menu-bar/cli/orbit-cli*

.idea

.DS_Store
